# Files and folders to be ignored during Docker image build

# Ignore virtual environment folder (venv)
env/

# Ignore temporary files and directories
working/
*.pyc
*.pyo
__pycache__/
*.swp
*.env

# Ignore unit tests report folder
htmlcov/
*.coverage

# Ignore documentation report folder
docs/build/