[MASTER]
load-plugins=pylint_django
ignore=migrations

[MESSAGES CONTROL]
disable=
    # Django requires dynamic attributes in models
    no-member,
    # Sometimes it's ok to have unused imports in the Django admin
    missing-module-docstring,
    # Sometimes in Django, arguments need to be renamed for overriding methods
    arguments-renamed

[FORMAT]
max-line-length=120

[pylint_django]
django-settings-module=moviemate.settings
